* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#wrapper {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dadada;
}
#main {
  width: 20rem;
  height: 30rem;
  border-radius: 50px;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.392);
  padding: 10px;
}

form {
  height: 60%;
  padding: 20px;
  border-radius: 50px;
  overflow: hidden;
}
#wc,
#hc {
  margin: 20px 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  width: 100px;
}
#s {
  text-align: center;
}
#sub {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 50px;
}
#result {
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 500px) {
  #main {
    width: 100%;
    height: 100dvh;
    border-radius: 0;
  }
  form {
    height: 50%;
  }
}
